*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{font-size: 100%;}
header{
    background-color:#30ae69 ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}
header ul {
    list-style: none;
     text-align: center;
}
header ul li {
     display: inline-block;
     margin:10px 15px 10px 15px;
     font-family: 'Montserrat', sans-serif;
     color: white;
 }
header ul li a{
     text-decoration: none;
     color: white;
     font-size: 1em;
 }
header ul li:first-child a,header ul li a:hover{
    color: white;
}
.item img{
    display: block;
    margin: 0 auto;
    width: 50vw;
}

/*
color:#30ae69
*/
.pag-slide{
    width: 50vw;
    display: block;
    margin: 20px auto;
}

.p1 h1{
    text-align: center;
    padding: 50px 0;
}
.p1-box{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    grid-gap: 20PX;
}
.p-item{
    box-shadow: 0 0 10px gray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.p-item img{
    display: block;
    margin: 0 auto;
    width: 20vw;
    height: 30vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.p-item h3{
    text-align: center;
    margin: 10vh 0;
}

.button-1{background-color:#30ae69;color:#30ae69;text-align: center;
    font-size: 1em;cursor: pointer; text-transform: uppercase;
    border: 1px solid #ffffff ;display: flex;
    align-items: center;justify-content: center;padding: 1em .5em;margin: 1em;}
 .button-1 a{ color:#ffffff;text-decoration: none;font-weight: 700;}
 .button-1 a:hover{color: #ffffff;text-decoration: none;}

 .p-item button.transf, .p2-item button.transf{
    background-color: #30ae69;
    color:#fff;
    text-align: center;
    border: 2px solid #30ae69 ;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 1em 2em;

}

.p2 h1{
    text-align: center;
    padding: 50px 0;
}
.p2-box{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    grid-gap: 20PX;
}
.p2-item{

}
.p2-item img{
    width: 17vw;
    height: 30vh;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}
.p2-item h3{
    text-align: center;
    margin: 30px 0;
}

.p3 h1{
    text-align: center;
    padding: 50px 0;
}
.p3-box{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    grid-gap: 20PX;
}

.p3-item img{
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}
.p3-item h3{
    text-align: center;
    margin: 30px 0;
}

.p5-box{display: flex;justify-content: center;align-items: center;flex-direction: column;background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/images/family-1.jpeg) ;background-size: cover;height: 80vh;}
.p5-box h1{ color: #ffffff;font-size: 3em;font-weight: 800;}
.button{background-color:#30ae69;color:#ffffff;text-align: center;width: 30vw;height: 10vh;
    font-size: 1.2em;cursor: pointer; text-transform: uppercase;
    border-radius: 8px ;font-weight: 700;display: flex;align-items: center;justify-content: center;margin: 3vh 0;}
 .button a{ color: #ffffff;text-decoration: none;font-weight: 700;font-size: 1.2em;text-decoration: none;}

.p4{
    background-color: #30ae69;
}
.p4-box{
    display: grid;
    grid-template-columns:  40% 40%;
    justify-content: center;
}
.p4-item img{
width: 5vh;
display: block;
margin: 0 auto;
}

.p4-item p, .logo p{
    text-align: center;
    margin: 20px;
    color: white;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 30px 0;
}
.logo img{
    width: 15vw;
}
.change{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}
.whatsapp a img{
    position: fixed;
    top: 81vh;
    right: 2.5%;
    width: 4vw;
    
}

footer p{
    text-align: center;
    padding: 1vh 0;
   font-size: .8rem;
}
footer p a{
    color:#30ae69 ;
    text-decoration: none;
    text-align: center;
}

.esp{padding-top: 10vh;}
.esp h1{margin: 5vh 0;text-align: center;font-size: 1.5rem;}
.esp-box{display: flex;justify-content: center;align-items: center;}
.esp-item{width: 20%;display: flex;justify-content: center;align-items: center;flex-direction: column;background-color:#30ae69;margin: 0 3vw;}
.esp-item img{width: 10vw;border-radius: 50%;background-color: #ffffff;position: relative;top: -5vh;}
.esp-item h3{color: #ffffff;font-weight: 700;text-transform: initial;font-size: 1rem;display: block;margin: 2vh auto;text-align: center;}
.esp-item p{font-size: .8rem;color: #ffffff;}

@media screen and (max-width:900px){
    .pag-slide{
        width: 100%;
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    header ul li {
        margin:5px 10px 5px 10px;
        
    }
    header ul li a{
        text-decoration: none;
        color: white;
        font-size: 1em;
    }
    .p1-box, .p2-box, .p3-box, .p4-box{
        grid-template-columns: 80%;
    }

    .p2-item img{width: 80vw;}
    .p5-box h1{text-align: center;}
    .p-item{
        padding: 0;
    }
    .p-item img{width: 80vw;}

    .esp-box{flex-direction: column;}
    .esp-item{width: 80%;margin: 2vh 0;}
    .esp-item img{top: 0;}

    .logo img{
        width: 50vw;
    }
    .whatsapp a img{
        position: fixed;
        top: 80vh;
        right: 5.5%;
        width: 12vw;
        
    }
}