
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


h1{font-size: clamp( 1.7rem, 3.8vw + 1em, 4vh); color:#30ae69;text-transform: uppercase;}
h3{font-size:clamp( 1rem, 1vw +1em , 1vh + 1em);}
h4{font-size:clamp( 1rem, 2vw + 1em, 3vh)}
p, a{font-size: clamp( .7rem, 1vw + 1em,.8rem);}



body{font-size: 100%;}
header{
    background-color:#30ae69 ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}
header ul {
    list-style: none;
     text-align: center;
}
header ul li {
     display: inline-block;
     margin:10px 15px 10px 15px;
     font-family: 'Montserrat', sans-serif;
     color: white;
 }
header ul li a{
     text-decoration: none;
     color: white;
     font-size: clamp( .7rem, 1vw + 1em,.8rem);
 }
header ul li:first-child a,header ul li a:hover{
    color: white;
}
.item img{
    display: block;
    margin: 0 auto;
    width: 50vw;
}


.slider, .slider-p7{width: 100%;display: block;margin: 1em auto;}
.slider{width: 80%;}
.slideshow img, .slideshow-7 img{width: 100%;height: auto;display: bloc;margin: 0 auto;}
.slick-prev:before,
.slick-next:before{color: #30ae69;}


/*
color:#30ae69
*/


.p1 h1{
    text-align: center;
    padding: 50px 0;
    text-transform: uppercase;
}
.p1-box{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    grid-gap: 1em;

}
.p-item{
    border:.1em solid #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: .5em;
    height: 100%;
    text-align: center;
}
.p-item:hover{border:.1em solid #30ae69;border-radius: .7em;}
.p-item img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: .5em;
}

.p-item h3{
    text-align: left;
    margin: 1em 0 .5em;
    font-weight: 400;
}
.p-item p{color: #848484;font-size: .7rem;margin-bottom: 1em;text-align: left;}

.button-1{background-color:#30ae69;text-align: center;
    cursor: pointer; text-transform: uppercase;border: .2em solid #ffffff ;display: flex;align-items: center;justify-content: center;padding: .5em;border-radius: 5em;}
 .button-1 a{ color:#ffffff;text-decoration: none;font-weight: 700;}
 .button-1 a:hover{color: #ffffff;text-decoration: none;}
.ver{background-color:transparent;color:#30ae69;text-decoration: none;font-weight: 700;padding: .5em;border-radius: 5em;
    text-align: center;display: block;text-transform: uppercase;border: .2em solid #30ae69}
.ver:hover{background-color:#30ae69;color:#fff;}    




 .p-item button.transf, .p2-item button.transf{
    background-color: #30ae69;
    color:#fff;
    text-align: center;
    border: 2px solid #30ae69 ;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 1em 2em;

}

.p2{padding: 2em 1em;}
.p2 h1{
    text-align: center;
    margin: 1em 0;
}
.p2-box{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    grid-gap: 20PX;
}

.p2-item img{
    width: 17vw;
    height: 30vh;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}
.p2-item h3{
    text-align: center;
    margin: .5em 0;
    font-weight: 500;
}

.p3{padding:2em 1em ;}
.p3 h1{
    text-align: center;
    padding: 0 0 1em;
}
.p3-box{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    grid-gap: 1em;
}

.p3-item img{
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    width: 40%;height: auto;
}
.p3-item h3{
    text-align: center;
    margin: 1em 0;font-weight: 500;
}

.p5-box{display: flex;justify-content: center;align-items: center;flex-direction: column;background-image:linear-gradient(rgba(48, 174, 105, 0.4),RGBA(48, 174, 105, 0.4)), url(/old.jpg) ;background-size: cover;height: 80vh;background-position: center top;background-attachment: fixed;}
.p5-box h1{ color: #ffffff;font-size: 2em;font-weight: 800;text-transform: uppercase;}
.button{background-color:transparent;color:#ffffff;text-align: center;padding: .5em 1em;cursor: pointer; text-transform: uppercase;
    border-radius: 4em ;font-weight: 700;display: flex;align-items: center;justify-content: center;margin: 1em;
    border: .2em solid #30ae69;}
 .button a{ color: #ffffff;text-decoration: none;font-weight: 500;font-size: .8em;text-decoration: none;}

.sobrebx, .sobre, .p7{display: flex;justify-content: center;align-items: center;}
.sobre{padding: 2em 1em;}
.sobrebx {width: 80%;}
.sobre-item:nth-child(1){width: 80%;}
.sobre h1{color:#30ae69;}
.sobre-item p {margin: 1em 0;}
.sobre-item img{width: 100%;height: auto;}

.p7{background-color: #e5e5e5;flex-direction: column;padding: 2em 1em;}
.slider-p7, .slider-p8{width: 90%;}
.slideshow-7 img{height: auto;padding: 1em;width: 90%;}




.p4{
    background-color: #30ae69;
    padding: 2em 1em;
}
.p4-box{
    display: grid;
    grid-template-columns:  40% 40%;
    justify-content: center;
}
.p4-item img{
width: 5vh;
display: block;
margin: 0 auto;
}

.p4-item p, .logo p{
    text-align: center;
    margin: 20px;
    color: white;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 30px 0;
}
.logo img{
    width: 15vw;
}
.change{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}
.iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
    height: 0;
  }
  
  .iframe-container iframe {
     position: absolute;
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
  }
.whatsapp a img{
    position: fixed;
    top: 81vh;
    right: 2.5%;
    width: 4vw;
    
}

footer p{
    text-align: center;
    padding: 1vh 0;
   font-size: .8rem;
}
footer p a{
    color:#30ae69 ;
    text-decoration: none;
    text-align: center;
}

.esp{padding-top: 10vh;}
.esp h1{margin: 5vh 0;text-align: center;font-size: 1.5rem;}
.esp-box{display: flex;justify-content: center;align-items: center;}
.esp-item{width: 20%;display: flex;justify-content: center;align-items: center;flex-direction: column;background-color:#30ae69;margin: 0 3vw;}
.esp-item img{width: 10vw;border-radius: 50%;background-color: #ffffff;position: relative;top: -5vh;}
.esp-item h3{color: #ffffff;font-weight: 700;text-transform: initial;font-size: 1rem;display: block;margin: 2vh auto;text-align: center;}
.esp-item p{font-size: .8rem;color: #ffffff;}

.consulta{display: flex;justify-content: center;align-items: center;flex-direction: column;padding: 4em 1em 2em;}
.consultabx{display: grid;grid-template-columns: 60% 40%;width: 80%;background-color:  #30ae69;color: #fff;padding: 2em;
    border-radius: .5em;}
.consulta img{width: 100%;height: auto;}
.consulta p{margin: 1em 0;}
.consulta ul{margin: 0 1em;}
.consulta h1{text-align: left;margin: 1em;}
.btn-consu{background-color:#ffffff;color:#30ae69;text-decoration: none;font-weight: 700;padding: .5em;border-radius: 5em;
    text-align: center;display: block;text-transform: uppercase;border: .2em solid #30ae69;margin: 1em 0;}



@media screen and (max-width:900px){
    .pag-slide{
        width: 100vw;height: auto;
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    header ul li {
        margin:5px 10px 5px 10px;
        
    }
    header ul li a{
        text-decoration: none;
        color: white;
        font-size: 1.5em;
    }
    .slideshow img, .slideshow-7 img{width: 100%;height: auto;display: block;margin: 0 auto;}

    .p1-box, .p2-box, .p3-box, .p4-box{
        grid-template-columns: 80%;
    }
    .p-item img{
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        border-radius: .5em;
    }
    .p2-item img{width: 80vw;}
    .sobrebx{flex-direction: column;width: 90%;}
    .sobre-item:nth-child(1){width: 100%;}

    .p5-box h1{text-align: center;}
    .p-item{
        padding: 0;
    }
    .p-item img{width: 80vw;}
    .p-item h3{   margin: 1em 0;
    }
    .esp-box{flex-direction: column;}
    .esp-item{width: 80%;margin: 2vh 0;}
    .esp-item img{top: 0;}

    .logo img{
        width: 50vw;
    }
    .whatsapp a img{
        position: fixed;
        top: 80vh;
        right: 5.5%;
        width: 12vw;
        
    }
}